.header{
    background-color: #fff;
    

    grid-column: center-start / center-end;
    grid-row: 2 / 3;

    display: flex;
    align-items: center;
    justify-content: space-between;
    

}

.icons-box{
    margin-right: 2rem;
    height: 100%; 

    display: flex;
    align-items: center;
     
    fill: $color-grey-light;
}

.search{
    &__input{
       display: none; 
    }

    &__button{
        background-color: transparent;
        border: none;
    }

    &__icon{ 
        margin: 0 1rem;
        
    }
}

.social{
    margin: 0 2rem;
    padding: 0 2rem;
    height: 100%; 

    border-right: 1px solid $color-grey-light;
    border-left: 1px solid $color-grey-light;

    display: flex;
    align-items: center;
    &__icon{
        margin: 0 .5rem;
    }
}