.slider {
  grid-column: center-start / center-end;
  grid-row: 4 / 5;
  position: relative;
  //CHANGE WITH MIXIN OR VARIABLE TO DYNAMIC CHANGE WIDTH
  height: calc(82vw * 0.75);
  max-height: 660px;
  overflow: hidden;

  &__photo-box {
    position: absolute;
    width: 100%;
    top: 0;
    align-items: center;
  }

  &__img {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-size: cover;
  }

  &__btn {
    position: absolute;
    width: 5rem;
    height: 5rem;
    top: 50%;
    transform: translateY(-50%);
    font-weight: bold;
    background-color: #4c627c8c;
    border: 1px solid #4c627c;

    &--left {
      left: 2rem;
    }

    &--right {
      right: 2rem;
    }
  }
}
